@import "@/sass/settings.scss";

.header {
  padding: 1rem 2rem;
  background-color: $background-color;
  box-shadow: $box-shadow;
  @include d-flex;
  justify-content: space-between;
  width: 100vw;

  transition: all 1s ease-in;

  @media screen and (min-width: $tablet) {
    padding-left: 2rem;
  }

  @media screen and (min-width: $big-tablets) {
    padding: 1rem 2rem;
  }

  @media screen and (min-width: $desktop) {
    padding: 2rem 7rem;
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
      margin-right: 1rem;
      gap: 1rem;
    }
    &__nav {
      @include d-flex;
    }

    &__items {
      @include d-flex;
      list-style-type: none;
      @include header;
      font-size: 1rem;
      @media screen and (min-width: $desktop) {
        margin-left: 10rem;
      }
      &__link_active {
        font-weight: bold;
      }
      &__item {
        @include items-will-hover;
        margin-right: 2rem;
        color: $items-color;
      }
      &__item:hover {
        @include items-hover-effect;
      }
    }
  }

  &__logoSection {
    @include d-flex;
    &__img {
      padding-top: 0.5rem;
      padding-right: 1rem;
    }
  }
}
.header:hover {
  background: #d7d7f0c1;
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
