@import "@/sass/settings.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 1rem 2rem;
  background-color: $background-color;
  padding-bottom: 1rem;
  border-bottom: 0.1px solid #fff;
  @include d-flex;
  justify-content: space-between;
  width: 100vw;
  transition: all 1s ease-in;

  &__logoSection {
    @include d-flex;
    &__logo {
      font-size: 2rem;
      background: linear-gradient(90deg, #85bced, #83e6e6, #48e77e);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &__span {
        color: #fff;
        -webkit-text-fill-color: #fff;
      }
    }
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
      gap: 5rem;
    }
    &__nav {
      @include d-flex;
      border-right: 0.5px solid #fff;
    }

    &__items {
      @include d-flex;
      list-style-type: none;
      &__item {
        margin-right: 2rem;
        font-weight: 100;
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: 2px;
        padding: 0.5rem 1rem;
        color: $white-color;
        transition: background, scale 0.7s;
        border-radius: 0.3rem;
      }
      &__item:hover {
        color: #85bced;
        box-shadow: $box-shadow;
        background-color: #e0e1e322;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
