@import "@/sass/settings.scss";

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: $standard-padding $big-padding;
  background-color: $background-color;
  border-bottom: 0.1px solid $white-description-color;
  @include d-flex;
  justify-content: space-between;
  width: 100vw;
  transition: all 1s ease-in;

  &__logoSection {
    @include d-flex;
    &__logo {
      font-size: 2rem;
      background: $background-gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: scale .7s;
      will-change: scale;
      &__span {
        color: $white-description-color;
        -webkit-text-fill-color: $white-description-color;
      }
    }
    &__logo:hover {
      scale: $hover-max-scale;
    }
  }

  &__navMenu {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
      gap: 5rem;
    }
    &__nav {
      @include d-flex;
      border-right: .5px solid $white-description-color;
    }

    &__items {
      @include d-flex;
      list-style-type: none;
      &__item {
        margin-right: 2rem;
        font-weight: 100;
        font-size: 1rem;
        cursor: pointer;
        letter-spacing: 2px;
        padding: $small-padding $standard-padding;
        color: $white-description-color;
        transition: background, scale 0.7s;
        border-radius: $border-min;
      }
      &__item:hover {
        color: $light-blue-color;
        box-shadow: $box-shadow;
        background-color: $light-dark-color;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
