//import font
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,200&family=Kanit:wght@300&display=swap");

//text colors

$dark-color: #2d2e32;
$blue-color: #147efb;
$items-color: #555;
$red-color: #ff0000;
$green-color: #159a15;
$white-color: #fff;

$error-red-background: #f8d7d9;
$error-red-fontColor: #650a0a;

$category-no-found-color: #fff3cd;

//background colors
$background-color: linear-gradient(
  90deg,
  hsla(240, 45%, 89%, 1) 0%,
  hsla(187, 100%, 89%, 1) 83%
);
$white-background-color: #f9f9f9;
$nav-color: #fff;

//box-shadow
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$box-shadow-category: 1px 1px 1px 1px $blue-color;

//mixins

@mixin items-will-hover() {
  transition: color, scale 1s;
  will-change: color, scale;
}

@mixin items-hover-effect() {
  cursor: pointer;
  color: #000;
  scale: 1.1;
}

@mixin header() {
  color: $dark-color;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

@mixin below-headers() {
  text-align: center;
  color: $dark-color;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 1rem;
  font-weight: 700;
}

@mixin d-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin d-flex-column() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin header() {
  color: $dark-color;
  font-size: 2rem;
  font-weight: bold;
  @media screen and (min-width: $desktop) {
    font-size: 2.5rem;
  }
}

@mixin p() {
  color: rgb(115 115 115);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6;
  @media screen and (min-width: $big-tablets) {
    font-size: 1.3rem;
  }
}

@mixin btn() {
  border-radius: 0.5rem;
  border: none;
  background-color: $blue-color;
  color: #fff;
  padding: 0.6rem;
  transition: scale 0.7s;
  will-change: scale;
  cursor: pointer;
}

@mixin btn-hover() {
  scale: 1.1;
}

@mixin inp() {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  font-size: 1rem;
}

//breakpoint

$mobile: 560px;
$tablet: 768px;
$big-tablets: 900px;
$small-desktop: 1024px;
$desktop: 1200px;
$large-desktop: 1700px;

$article-margin: 2rem;

//border-radious

$large-border-radius: 1.7rem;
$medium-border-radius: 0.7rem;
