@import "@/sass/settings.scss";

.PostListContainer {
  scroll-margin: 20rem;
  width: 90vw;
  margin: 2rem auto;
  @include d-flex-column;
  margin-top: 5rem;
  gap: 1rem;
  @media screen and (min-width: $desktop) {
    width: 85rem;
  }
  &__header {
    width: 100%;
    @include d-flex-column;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: flex-start;
    @media screen and (min-width: $mobile) {
      padding-left: 5rem;
    }
    &__title {
      @include header;
      color: $white-color;
    }
    &__content {
      @include p;
    }
  }
  &__content {
    transition: scale 0.7s;
    will-change: scale;
    width: 18rem;
    display: grid;
    gap: 3rem;
    cursor: pointer;
    @media screen and (min-width: $mobile) {
      width: 22rem;
    }
    @media screen and (min-width: $tablet) {
      width: 35rem;
    }
    @media screen and (min-width: $small-desktop) {
      grid-template-columns: repeat(2, 1fr);
      width: 60rem;
    }
    @media screen and (min-width: $desktop) {
      width: 80rem;
    }
    @media screen and (min-width: $large-desktop) {
      width: 90rem;
    }
    &__postWrapper {
      @include d-flex-column;
      gap: 1rem;
      align-items: flex-start;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: scale 0.7s;
      will-change: scale;
      @media screen and (min-width: $tablet) {
        flex-direction: row;
      }
      @media screen and (min-width: $small-desktop) {
        gap: 0;
      }
      @media screen and (min-width: $desktop) {
        gap: 1rem;
      }
      &__imageWrapper {
        @include d-flex-column;
        width: 100%;
        &__img {
          width: 15rem;
          border-radius: 0.5rem;
          @media screen and (min-width: $mobile) {
            width: 18rem;
            height: 13rem;
          }
          @media screen and (min-width: $small-desktop) {
            width: 10rem;
            height: 7rem;
          }
          @media screen and (min-width: $desktop) {
            width: 18rem;
            height: 13rem;
          }
          @media screen and (min-width: $large-desktop) {
            width: 25rem;
            height: 15rem;
          }
        }
      }
      &__post {
        @include d-flex-column;
        gap: 1rem;
        width: 100%;
        padding-left: 1rem;
        &__content {
          @include d-flex-column;
          gap: 0.5rem;
          align-items: flex-start;
          &__title {
            font-size: 1.3rem;
            color: $white-color;
            @media screen and (min-width: $large-desktop) {
              font-size: 1.6rem;
            }
          }
          &__description {
            @include p;
            line-height: 1.3rem;
            @media screen and (min-width: $big-tablets) {
              font-size: 1.1rem;
            }
            @media screen and (min-width: $small-desktop) {
              display: none;
            }
            @media screen and (min-width: $desktop) {
              display: block;
            }
            @media screen and (min-width: $large-desktop) {
              font-size: 1.3rem;
              line-height: 1.5rem;
            }
          }
          &__category {
            padding: 0.1rem 1rem;
            border-radius: 0.3rem;
            background-color: #1f90da;
            color: $white-color;
          }
        }
        &__subContent {
          @include d-flex;
          justify-content: space-between;
          width: 100%;
          color: $white-color;

          &__readContainer {
            @include d-flex;
            gap: 0.5rem;
          }
        }
      }
    }
    &__postWrapper:hover {
      box-shadow: $box-shadow;
      scale: 1.01;
    }
  }
  &__button {
    @include d-flex;
    width: 100%;
    margin-top: 2rem;
    &__btn {
      background-color: #1f90da;
      border-radius: 0.3rem;
      border: none;
      padding: 0.7rem 2rem;
      cursor: pointer;
      color: $white-color;
      transition: scale 0.7s;
      will-change: scale;
    }
    &__btn:hover {
      scale: 1.1;
    }
  }
}
