@import "@/sass/settings.scss";

.PostListContainer {
  scroll-margin: 20rem;
  margin: 2rem auto;
  @include d-flex-column;
  margin-top: 5rem;
  gap: 4rem;
  &__header {
    width: 100%;
    @include d-flex-column;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: flex-start;
    @media screen and (min-width: $mobile) {
      padding-left: 5rem;
    }
    &__title {
      padding-left: 1rem;

      @include d-flex;
      justify-content: flex-start;
      width: 100%;
      font-weight: 900;
      font-size: 2rem;
      color: $white-color;
      @media screen and (min-width: $mobile) {
        font-size: 3rem;
      }
      @media screen and (min-width: $big-tablets) {
        font-size: 4rem;
        padding-left: 3rem;
      }
    }
    &__content {
      @include p;
    }
  }
  &__content {
    transition: scale 0.7s;
    will-change: scale;
    display: grid;
    gap: 5rem;
    cursor: pointer;
    @media screen and (min-width: $small-desktop) {
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(2, 1fr);
      width: 70rem;
    }
    @media screen and (min-width: $large-desktop) {
      width: 90vw;
    }
  }
  &__button {
    @include d-flex;
    width: 100%;
    margin-top: 2rem;
    &__btn {
      background-color: $light-blue-color;
      color: $dark-color;
      border-radius: 0.3rem;
      border: none;
      padding: 0.7rem 2rem;
      cursor: pointer;
      transition: scale 0.7s;
      will-change: scale;
    }
    &__btn:hover {
      scale: 1.1;
    }
  }
}
