@import "@/sass/settings.scss";

.PostListContainer {
  scroll-margin: 20rem;
  margin: 2rem auto;
  @include d-flex-column;
  margin-top: 5rem;
  gap: 4rem;
  &__header {
    width: 100%;
    @include d-flex-column;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: flex-start;
    @media screen and (min-width: $mobile) {
      padding-left: 5rem;
    }
    &__title {
      padding-left: 1rem;

      @include d-flex;
      justify-content: flex-start;
      width: 100%;
      font-weight: 900;
      font-size: 2rem;
      color: $white-color;
      @media screen and (min-width: $mobile) {
        font-size: 3rem;
      }
      @media screen and (min-width: $big-tablets) {
        font-size: 4rem;
        padding-left: 3rem;
      }
    }
    &__content {
      @include p;
    }
  }
  &__content {
    transition: scale 0.7s;
    will-change: scale;
    display: grid;
    gap: 5rem;
    cursor: pointer;
    @media screen and (min-width: $small-desktop) {
    }
    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(2, 1fr);
      width: 70rem;
    }
    @media screen and (min-width: $large-desktop) {
      width: 90vw;
    }
    &__postWrapper {
      @include d-flex;
      background-color: $light-dark-color;
      width: 90vw;
      height: 10rem;
      gap: 1rem;
      align-items: flex-start;
      border-radius: 0.5rem;
      transition: scale 0.7s;
      will-change: scale;
      @media screen and (min-width: $mobile) {
        width: 31rem;
      }
      @media screen and (min-width: $desktop) {
        gap: 1rem;
        width: 33rem;
      }
      @media screen and (min-width: $large-desktop) {
        height: 13rem;
        width: 44rem;
      }
      &__imageWrapper {
        @include d-flex-column;
        width: 100%;
        &__img {
          width: 100%;
          height: 10rem;
          @media screen and (min-width: $large-desktop) {
            height: 13rem;
          }
          border-radius: 0.5rem;
        }
      }
      &__post {
        @include d-flex-column;
        gap: 1rem;
        width: 100%;
        height: 100%;
        &__content {
          @include d-flex-column;
          gap: 1rem;
          align-items: flex-start;
          &__title {
            color: $white-color;
            font-size: 1.2rem;
            font-weight: 400;
            @media screen and (min-width: $mobile) {
              font-size: 1.3rem;
            }
            @media screen and (min-width: $large-desktop) {
              font-size: 1.5rem;
            }
          }
          &__description {
            display: none;
            @media screen and (min-width: $large-desktop) {
              display: block;
              color: #dedede;
            }
          }
          &__category {
            padding: 0.1rem 1rem;
            border-radius: 0.3rem;
            background-color: $light-blue-color;
            color: $dark-color;
          }
        }
        &__subContent {
          @include d-flex;
          padding-right: 1rem;
          justify-content: space-between;
          width: 100%;
          color: $white-color;

          &__readContainer {
            @include d-flex;
            gap: 0.5rem;
          }
        }
      }
    }
    &__postWrapper:hover {
      box-shadow: $box-shadow;
      scale: 1.01;
    }
  }
  &__button {
    @include d-flex;
    width: 100%;
    margin-top: 2rem;
    &__btn {
      background-color: $light-blue-color;
      color: $dark-color;
      border-radius: 0.3rem;
      border: none;
      padding: 0.7rem 2rem;
      cursor: pointer;
      transition: scale 0.7s;
      will-change: scale;
    }
    &__btn:hover {
      scale: 1.1;
    }
  }
}
