@import "@/sass/settings.scss";

.categoryContainer {
  scroll-margin: 20rem;
  width: 90vw;
  margin: 2rem auto;
  @include d-flex-column;
  margin-top: 5rem;
  gap: 1rem;
  @media screen and (min-width: $desktop) {
    width: 85rem;
  }
  &__header {
    width: 100%;
    @include d-flex-column;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: flex-start;
    @media screen and (min-width: $mobile) {
      padding-left: 5rem;
    }
    &__title {
      @include header;
      color: $white-color;
    }
    &__content {
      @include p;
    }
  }
  &__content {
    @include d-flex-column;
    cursor: pointer;
    @media screen and (min-width: $small-desktop) {
      flex-direction: row;
    }
    &__imageWrapper {
      @include d-flex-column;
      gap: 1rem;
      align-items: flex-start;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: scale 0.7s;
      will-change: scale;
      @media screen and (min-width: $large-desktop) {
        padding: 2rem;
      }
      &__img {
        border-radius: 0.5rem;
        @media screen and (min-width: $mobile) {
          width: 20rem;
          height: 15rem;
        }
        @media screen and (min-width: $small-desktop) {
          width: 11rem;
          height: 6.5rem;
        }
        @media screen and (min-width: $desktop) {
          width: 15rem;
          height: 10rem;
        }
      }
      &__text {
        padding-left: 1rem;
        &__header {
          font-size: 1.4rem;
          font-weight: 500;
          color: $white-color;
        }
        &__subtitle {
          @include p;
        }
      }
    }
    &__imageWrapper:hover {
      scale: 1.05;
      background-color: #e0e1e322;
      box-shadow: $box-shadow;
    }
  }
}
