@import "@/sass/settings.scss";

.categoryContainer {
  @include d-flex-column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 3rem;

  &__content {
    @include d-flex-column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    gap: 1rem;
    padding: 1rem;

    &__title {
      width: 100%;
      &__h1 {
        padding-right: 5rem;
        font-weight: 900;
        font-size: 3rem;
        color: $white-color;
        @media screen and (min-width: $mobile) {
          font-size: 3rem;
        }
        @media screen and (min-width: $big-tablets) {
          font-size: 4rem;
        }
        @media screen and (min-width: $desktop) {
          font-size: 5rem;
        }
        @media screen and (min-width: $large-desktop) {
          font-size: 6rem;
        }
      }
    }
    &__description {
      width: 100%;
      &__p {
        color: $white-description-color;

        @media screen and (min-width: $mobile) {
          width: 33rem;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
        @media screen and (min-width: $large-desktop) {
          font-size: 1.3rem;
          width: 40rem;
        }
      }
    }
  }
  &__categoryList {
    width: 100vw;
    @include d-flex-column;
    gap: 2rem;
    @media screen and (min-width: $small-desktop) {
      flex-direction: row;
    }
    @media screen and (min-width: $desktop) {
      gap: 5rem;
    }
    @media screen and (min-width: $large-desktop) {
      gap: 7rem;
    }
    &__wrapper {
      cursor: pointer;
      @include d-flex-column;
      border: 1px solid $light-blue-color;
      padding: 1rem;
      gap: 1rem;
      border-radius: 0.5rem;
      transition: background-color, scale, 0.7s;
      @media screen and (min-width: $tablet) {
        padding: 2rem;
      }
      &__header {
        @include d-flex-column;
        gap: 1rem;
        align-items: flex-start;
        &__img {
          border-radius: 0.5rem;
        }
        &__title {
          margin-left: 1rem;
          color: $white-color;
        }
      }
      &__description {
        border: 1px solid $light-blue-color;
        width: 15rem;
        padding: 1rem;
        border-top-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        &__p {
          color: $white-description-color;
        }
      }
      &__buttonWrapper {
        @include d-flex;
        width: 100%;
        margin-top: 1rem;
        &__btn {
          width: 10rem;
          height: 2.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
          color: $dark-color;
          background-color: $light-blue-color;
          transition: scale 0.7s;
          border: none;
          @media screen and (min-width: $large-desktop) {
            font-size: 1.05rem;
          }
        }
        &__btn:hover {
          scale: 1.05;
        }
      }
    }
    &__wrapper:hover {
      scale: 1.05;
      background-color: $light-dark-color;
      box-shadow: $box-shadow;
    }
  }
}
