@import "@/sass/settings.scss";

.container {
  @include d-flex;
  &__imageWrapper {
    margin-top: 3rem;
    @include d-flex;

    &__img {
      border-radius: $border-max;
      width: 90%;
      @media screen and (min-width: $desktop) {
        width: 40rem;
        height: 24rem;
      }
    }
  }
}
