@import "@/sass/settings.scss";

.postsWrapper {
  @include d-flex-column;
  gap: 5rem;
  @media screen and (min-width: $desktop) {
    @include d-flex;
  }
  @media screen and (min-width: $large-desktop) {
    gap: 7rem;
  }
}

.lastPostsContainer {
  @include d-flex-column;
  padding-top: 5rem;
  gap: 3rem;
  @media screen and (min-width: $desktop) {
    gap: 4rem;
  }
  &__contentWrapper {
    @include d-flex-column;
    gap: 4rem;
    @media screen and (min-width: $desktop) {
      @include d-flex;
      gap: 6rem;
    }
  }
  &__header {
    padding-left: $standard-padding;

    @include d-flex;
    justify-content: flex-start;
    width: 100%;
    font-weight: 900;
    font-size: 2rem;
    color: $white-color;
    @media screen and (min-width: $mobile) {
      font-size: 3rem;
    }
    @media screen and (min-width: $big-tablets) {
      font-size: 4rem;
      padding-left: 3rem;
    }
  }
  &__otherLastPostContainer {
    @include d-flex-column;
    gap: 3rem;
  }
}
