@import "@/sass/settings.scss";
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.footerContainer {
  @include d-flex-column;
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: #1e2433;
  color: $white-description-color;
  font-family: "Times New Roman", Times, serif;
  gap: 5rem;
  @media screen and (min-width: $small-desktop) {
    flex-direction: row;
  }
  @media screen and (min-width: $desktop) {
    gap: 15rem;
  }
  &__footerContent {
    @include d-flex-column;
    flex-direction: column-reverse;
    gap: 5rem;
    @media screen and (min-width: $small-desktop) {
      flex-direction: row;
      align-items: flex-end;
    }
    @media screen and (min-width: $desktop) {
      gap: 16rem;
    }
    &__copyrightWrapper {
      @include d-flex;
      &__author {
        font-family: "Allura", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
      }
    }
  }
}
