@import "@/sass/settings.scss";

.homepageContainer {
  height: 100vh;
  @media screen and (min-width: $big-tablets) {
    @include d-flex;
  }
  @media screen and (min-width: $desktop) {
    gap: 4rem;
  }

  &__image {
    display: none;
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
    }
    &__imageWrapper {
      @include d-flex;
      padding-top: 3rem;
      &__img {
        border-radius: 0.5rem;
        @media screen and (min-width: $desktop) {
          width: 40rem;
          height: 25rem;
        }
        @media screen and (min-width: $large-desktop) {
          width: 50rem;
          height: 35rem;
        }
      }
    }
    &__img {
      border-radius: 0.5rem;
    }
  }
  &__content {
    @include d-flex-column;
    height: 100%;
    gap: 1rem;
    padding-left: 1rem;
    @media screen and (min-width: $mobile) {
      padding-left: 3rem;
    }

    &__title {
      width: 100%;
      padding-top: 5rem;
      &__h1 {
        font-weight: 900;
        font-size: 4.5rem;
        color: $white-color;
        @media screen and (min-width: $mobile) {
          font-size: 6rem;
          width: 30rem;
        }
        @media screen and (min-width: $big-tablets) {
          font-size: 5rem;
          width: 20rem;
        }
        @media screen and (min-width: $desktop) {
          font-size: 6rem;
          width: 30rem;
        }
        @media screen and (min-width: $large-desktop) {
          font-size: 7rem;
        }
      }
    }
    &__description {
      width: 100%;
      &__p {
        color: #dedede;

        @media screen and (min-width: $mobile) {
          width: 30rem;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
        @media screen and (min-width: $big-tablets) {
          width: 30rem;
        }
        @media screen and (min-width: $large-desktop) {
          font-size: 1.3rem;
        }
      }
    }
    &__buttonWrapper {
      @include d-flex;
      gap: 2rem;
      width: 100%;
      justify-content: flex-start;
      margin-top: 1rem;
      &__button {
        width: 7rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: scale 0.7s;
        @media screen and (min-width: $large-desktop) {
          font-size: 1.2rem;
          width: 10rem;
        }
      }
      &__button:hover {
        scale: 1.05;
      }
      &__button_read {
        border: none;
        background-color: #85bced;
        transition: color, background-color, border, 0.7s;
        will-change: color, background-color, border;
      }
      &__button_read:hover {
        border: 1px solid #85bced;
        background-color: transparent;
        color: $white-color;
      }
      &__button_find {
        border: 1px solid #85bced;
        background-color: transparent;
        color: $white-color;
        transition: color, background-color, border, 0.7s;
        will-change: color, background-color, border;
      }
      &__button_find:hover {
        border: none;
        background-color: #85bced;
        color: #000;
      }
    }
  }
}
