@import "@/sass/settings.scss";

.lastVideoContainer {
  margin-bottom: 3rem;
  @media screen and (min-width: $small-desktop) {
    @include d-flex;
  }
  @media screen and (min-width: $desktop) {
    gap: 4rem;
  }

  &__image {
    @media screen and (min-width: $big-tablets) {
      @include d-flex;
    }
    &__imageWrapper {
      @include d-flex;
      padding-top: 3rem;
      &__img {
        cursor: pointer;
        border-radius: $border-med;
        @media screen and (min-width: $mobile) {
          width: 25rem;
          height: 20rem;
        }
        @media screen and (min-width: $big-tablets) {
          width: 35rem;
          height: 25rem;
        }
        @media screen and (min-width: $small-desktop) {
          width: 32rem;
          height: 25rem;
        }
        @media screen and (min-width: $large-desktop) {
          width: 55rem;
          height: 40rem;
          padding-bottom: 4rem;
        }
      }
    }
    &__img {
      border-radius: $border-med;
    }
  }
  &__content {
    @include d-flex-column;
    height: 50%;
    gap: 2rem;
    padding: $standard-padding;
    @media screen and (min-width: $mobile) {
      padding-left: 3rem;
    }

    &__title {
      width: 100%;
      &__h1 {
        font-weight: 900;
        font-size: 3.5rem;
        color: $white-color;
        @media screen and (min-width: $mobile) {
          font-size: 4.5rem;
          width: 30rem;
        }
        @media screen and (min-width: $big-tablets) {
          font-size: 5rem;
          width: 40rem;
        }
        @media screen and (min-width: $small-desktop) {
          font-size: 6rem;
          width: 30rem;
        }
      }
    }
    &__description {
      width: 100%;
      &__p {
        color: #dedede;

        @media screen and (min-width: $mobile) {
          width: 30rem;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
        @media screen and (min-width: $large-desktop) {
          font-size: 1.3rem;
        }
      }
    }
    &__buttonWrapper {
      @include d-flex;
      width: 100%;
      margin-top: 1rem;
      @media screen and (min-width: $small-desktop) {
        justify-content: flex-start;
      }
      &__button {
        width: 10rem;
        height: 2.5rem;
        border-radius: $border-med;
        cursor: pointer;
        color: $white-description-color;
        background-color: #ff0000;
        transition: scale 0.7s;
        border: none;
        @media screen and (min-width: $large-desktop) {
          font-size: 1.2rem;
          width: 13rem;
          height: 3.5rem;
        }
      }
      &__button:hover {
        scale: $hover-med-scale;
      }
    }
  }
}
