@import "@/sass/settings.scss";

.container {
  padding-top: 6rem;
  @include d-flex;
  gap: 3rem;
  &__postWrapper {
    @include d-flex-column;
    gap: 2rem;
  }
  &__authorInfo {
    display: none;
    @media screen and (min-width: $small-desktop) {
      @include d-flex-column;
    }
  }
}
