@import "@/sass/settings.scss";

.container {
  padding-top: 6rem;
  @include d-flex;
  gap: 10rem;
  &__postWrapper {
    @include d-flex-column;
    gap: 2rem;
  }
  &__authorInfo {
    display: none;
    @media screen and (min-width: $desktop) {
      @include d-flex-column;
      background-color: #1e2433;
      padding: $standard-padding;
      border-radius: $border-max;
      box-shadow: $box-shadow;
    }
  }
}
