@import "@/sass/settings.scss";

.wrapper {
  &__header {
    @include d-flex-column;
    gap: 1rem;
    align-items: flex-start;
    &__img {
      border-radius: $border-med;
    }
    &__title {
      margin-left: 1rem;
      color: $white-color;
      @media screen and (min-width: $desktop) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: $large-desktop) {
        font-size: 1.6rem;
      }
    }
  }
  &__description {
    border: 1px solid $light-blue-color;
    width: 15rem;
    padding: $standard-padding;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    @media screen and (min-width: $desktop) {
      width: 20rem;
    }
    &__p {
      color: $white-description-color;
      @media screen and (min-width: $desktop) {
        font-size: 1.2rem;
      }
      @media screen and (min-width: $large-desktop) {
        font-size: 1.4rem;
      }
    }
  }
  &__buttonWrapper {
    @include d-flex;
    width: 100%;
    margin-top: 1rem;
    &__btn {
      width: 10rem;
      height: 2.5rem;
      border-radius: $border-med;
      cursor: pointer;
      color: $dark-color;
      background-color: $light-blue-color;
      transition: scale 0.7s;
      border: none;
      @media screen and (min-width: $large-desktop) {
        font-size: 1.05rem;
      }
    }
    &__btn:hover {
      scale: $hover-med-scale;
    }
  }
}
.wrapper:hover {
  scale: $hover-med-scale;
  background-color: $light-dark-color;
  box-shadow: $box-shadow;
}
